<body>
  <div class="container">
    <div class="left">
      <app-sidebar
        [showCreatePost]="true"
        [currentUser]="this.currentUser"
        (onSettingClick)="showTab($event)"
        (onCreatePostClick)="createPostButtonClick()"
      ></app-sidebar>
    </div>

    <div class="middle">
      <div class="tab-home">
        <!------------Create--Post--------------->

        <!------------Feeds---------------------->
        <div class="feeds">
          <app-posts
            *ngFor="let feed of this.newFeeds"
            [currentUser]="this.currentUser"
            [postData]="feed"
          >
          </app-posts>
        </div>
      </div>
    </div>
  </div>
</body>
