<div class="login_box">
  <div class="left">
    <div class="signup">
      <form>
        <h1>SIGN UP</h1>

        <input
          [(ngModel)]="user.email"
          type="email"
          name="email"
          placeholder="Email"
        />
        <input
          [(ngModel)]="user.firstName"
          type="text"
          class="inline"
          name="firstName"
          placeholder="First name"
        />
        <input
          [(ngModel)]="user.lastName"
          type="text"
          class="inline input-right"
          name="lastName"
          placeholder="Last name"
        />
        <input
          [(ngModel)]="user.phone"
          type="tel"
          name="phone"
          placeholder="Phone number"
        />
        <div>
          <label for="dateOfBirth">Date of birth</label>
          <input
            [(ngModel)]="user.dateOfBirth"
            class="inline"
            type="date"
            name="dateOfBirth"
            placeholder="Date of birth"
          />
        </div>
        <input
          [(ngModel)]="user.password"
          type="password"
          name="password"
          placeholder="Password"
        />
        <input
          [(ngModel)]="retypePassword"
          type="password"
          name="password2"
          placeholder="Retype password"
        />

        <button type="button" class="submit" (click)="register()">
          Sign me up
        </button>
      </form>
    </div>
  </div>
  <div class="right">
    <div class="signin">
      <h2>Sign up to join our Z community</h2>
      <h5>Have an account?</h5>
      <a type="button" class="submit" routerLink="/auth/login">Sign In</a>
    </div>
  </div>
</div>
