<header>
  <nav>
    <div class="container">
      <h2 class="logo" (click)="navigateToDashboard()">Dart</h2>

      <div class="search-bar">
        <i class="uil uil-search"></i>
        <input
          type="search"
          placeholder="Search for friends"
          (search)="search($event)"
        />
      </div>

      <div *ngIf="this.user" class="profile-picture" (click)="navigateToWall()">
        <img
          [src]="this.user.getAvatar()"
          (error)="this.user.getDefaultAvatar()"
          alt=""
        />
      </div>

      <div class="notification" hidden>
        <div class="notification-popup"></div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
