/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.5.2/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap);
@import url(https://unicons.iconscout.com/release/v4.0.0/css/line.css);